.event-header {
    position: relative; /* Added for positioning the video and content */
    height: 400px; /* Adjust as needed */
    width: 800px;
    color: #fdfdfd;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Added to hide overflowing video */
    background-size: cover;
}

.event-content {
    position: relative; /* Ensure the content stays on top of the video */
    z-index: 1; /* Make sure content is above the video */
}